<h1>Firestore Applicazioni</h1>
<p>
  Learn how to build 
  <a href="https://angularfirebase.com/tag/firestore">cool stuff with Firestore</a>
</p>
<hr>

<input [(ngModel)]="name" placeholder="nome dell'applicazione" class="input">


<button class="button is-success" (click)="clickHandler()" [disabled]="name?.length < 2 || name?.length > 200">
  Add
</button>
<hr>
<div *ngFor="let applicazione of applicazioni | async">
  <applicazione-detail [applicazione]="applicazione"></applicazione-detail>
</div>
